.container{
    background-color:green;
    display: flex;
    flex-direction: row;
    color: white;

}
.topnav{
    gap: 5%;
    display: flex;
    text-align: center;
    padding: 14px 16px;
}
.container1{
    display: flex;
    flex-direction: row;
    
    
}

body{
    margin-right: 20%;
  margin-left: 20%;
}
.paragh{
    padding: 15%;
}

.container2{
    display: grid;
  grid-template-columns:auto auto auto auto;
  gap: 15%;
}

.n{
    background-image: url('images/plant.jpeg');
    background-repeat:no-repeat ;
}
.p{
    background-image: url('images/plant2.jpeg');
    background-repeat:no-repeat ;
}
.m{
    background-image: url('images/plant3.jpeg');
    background-repeat:no-repeat ;
}
.container3{
    display: flex;
    flex-direction: column;
    
}
.photo{
    display: flex;
    flex-direction: row;
}
.pho{
    display: flex;
    flex-direction: row; 
}



    
